/** WARNING - USE AT OWN RISK */


/** IT IS AGAINST APPLE'S POLICY TO USE SF PRO FOR ANYTHING OTHER THAN iOS/tvOS/macOS/watchOS DESIGN & DEVELOPMENT */


/** https://sf.abarba.me/font.css */


/** https://sf.abarba.me/LICENSE.pdf */


/** 1. Copy/import this file into your main css/scss file */


/** 2. Change css font-family: to "SF Text", "SF Display" or "SF Mono" */


/** 3. Apply font-weight or italic to html elements */


/** THANK YOU */


/** I host these fonts on Cloudfront with SSL in all AWS regions for the best performance and reliability */


/** If you'd like to help offset costs, I'd very much appreciate a donation via Lisk https://lisk.io */


/** Address: 14987768355736502769L */


/** Delegate: andrew */


/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/


/** Black */

@font-face {
    font-family: "SF Display";
    font-weight: 900;
    src: url("sf-display-black.otf");
}


/** Bold */

@font-face {
    font-family: "SF Display";
    font-weight: 700;
    src: url("sf-display-bold.otf");
}


/** Heavy */

@font-face {
    font-family: "SF Display";
    font-weight: 800;
    src: url("sf-display-heavy.otf");
}


/** Light */

@font-face {
    font-family: "SF Display";
    font-weight: 200;
    src: url("sf-display-light.otf");
}


/** Medium */

@font-face {
    font-family: "SF Display";
    font-weight: 500;
    src: url("sf-display-medium.otf");
}


/** Regular */

@font-face {
    font-family: "SF Display";
    font-weight: 400;
    src: url("sf-display-regular.otf");
}


/** Semibold */

@font-face {
    font-family: "SF Display";
    font-weight: 600;
    src: url("sf-display-semibold.otf");
}


/** Thin */

@font-face {
    font-family: "SF Display";
    font-weight: 300;
    src: url("sf-display-thin.otf");
}


/** Ultralight */

@font-face {
    font-family: "SF Display";
    font-weight: 100;
    src: url("sf-display-ultralight.otf");
}


/*---------------------------------------------------------------------------*
   * SF UI Text
   *---------------------------------------------------------------------------*/


/** Bold */

@font-face {
    font-family: "SF Text";
    font-weight: 700;
    src: url("sf-text-bold.otf");
}


/** Bold italic */

@font-face {
    font-family: "SF Text";
    font-weight: 700;
    font-style: italic;
    src: url("sf-text-bolditalic.otf");
}


/** Heavy */

@font-face {
    font-family: "SF Text";
    font-weight: 800;
    src: url("sf-text-heavy.otf");
}


/** Heavy italic */

@font-face {
    font-family: "SF Text";
    font-weight: 800;
    font-style: italic;
    src: url("sf-text-heavyitalic.otf");
}


/** Light */

@font-face {
    font-family: "SF Text";
    font-weight: 200;
    src: url("sf-text-light.otf");
}


/** Light italic */

@font-face {
    font-family: "SF Text";
    font-weight: 200;
    font-style: italic;
    src: url("sf-text-heavyitalic.otf");
}


/** Medium */

@font-face {
    font-family: "SF Text";
    font-weight: 500;
    src: url("sf-text-medium.otf");
}


/** Medium italic */

@font-face {
    font-family: "SF Text";
    font-weight: 500;
    font-style: italic;
    src: url("sf-text-mediumitalic.otf");
}


/** Regular */

@font-face {
    font-family: "SF Text";
    font-weight: 400;
    src: url("sf-text-regular.otf");
}


/** Regular italic */

@font-face {
    font-family: "SF Text";
    font-weight: 400;
    font-style: italic;
    src: url("sf-text-regularitalic.otf");
}


/** Semibold */

@font-face {
    font-family: "SF Text";
    font-weight: 600;
    src: url("sf-text-semibold.otf");
}


/** Semibold italic */

@font-face {
    font-family: "SF Text";
    font-weight: 600;
    font-style: italic;
    src: url("sf-text-semibolditalic.otf");
}